{% extends "base.html" %}
{% block titulo %}
    document
{% endblock titulo %}

{% block conteudo %}
    <h1>Login</h1>
    <form action="{%url 'login'%}" method="post">
        {%csrf_token%}
        <label for="inputPassword5" class="form-label">Nome</label>
        <input type="text" id="inputPassword5" name="username" class="form-control" aria-describedby="passwordHelpBlock">
        
        <label for="inputPassword5" class="form-label">Password</label>
        <input type="password" id="inputPassword5" name="password" class="form-control" aria-describedby="passwordHelpBlock">
        <br>
        <button type="submit" class="btn btn-success">cadastrar</button>
    </form>
{% endblock conteudo %}
